body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}
header, footer, .top {
    background-color: #1F2937;
}

header {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.top {
    padding: 100px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

button {
    margin-top: 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border-width: 0px;
}

.middle {
    padding: 0 10%;
    color: #1F2937;
    margin: 40px 0 80px 0;
}

.middle-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: 0px;
}

.info {
    flex: 0 1 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1F2937;
}

.small-image {
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 6px;
    width: 160px;
    height: 160px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 120px 20%;
    font-size: 36px;
}

em {
    font-weight: lighter;
}

.quote-author {
    font-weight: bold;
    margin-right: 60px;
    text-align: end;
}

.bottom {
    padding: 0 10%;
}

.blue-window{
    background-color: #3882F6;
    border-radius: 10px;
    margin: 100px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
}

.action-button {
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #F9FAF8;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 40px 0;
}